textarea {
    padding: 0.9rem 1rem;
    padding-left: 0;
    border: none;
    font-size: 1rem;
    border-radius: .375rem;
    flex: 1;
    font: inherit;
    font-size: 1rem;
    line-height: 1.5rem;
    resize: none;
    max-height: 300px;
    font-family: 'Inter';
}

textarea:focus {
    outline: none
}

button.voice {
    background: none !important;
}

.pulse {
    display: flex;
    position: relative;
}

.pulse:before, .pulse:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: #4285f4; */
	background: linear-gradient(-45deg, #FF7800, #E0F399, #1FD3DA);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.7;
}

.pulse::before {
	animation: gradient 15s ease infinite;
    animation: pulse 2s ease-out infinite;
}

.pulse:after {
    animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

form.file-upload button, button.send {
    border: 0;
    background: #eee;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    height: fit-content;
}

form.file-upload button {
    margin-right: 0;
}

form.file-upload svg, button.send svg {
    margin: 3px;
    width: 20px;
    height: auto;
}

.input-parent {
  padding: 1rem;
}

svg {
    color: #000;
}

.input-holder {
    display: flex;
    justify-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border: rgba(0,0,0,.1) 1px solid;
    border-radius: .375rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.06rem);
    -webkit-backdrop-filter: blur(0.06rem);
    padding: 0.5rem;
}

.input-holder.focused {
    border: rgba(0,0,0,.3) 1px solid;
}